<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title> CSV to MMD </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
      <form action="/mmd_creator" method="post" enctype="multipart/form-data">
          <div class="forms">
            <div class="form-content">
              <div class="login-form">
                <div class="title">Select CSV File</div><br>
                <div class="input-boxes">
                    <i class="fas fa-file-csv" style="font-size:24px;"></i>&nbsp;
                    <input type="file" id="csv_file" name="csv_file" accept=".csv" required>
                    <br><br>
                </div>
                <div class="button input-box">
                    <input type="submit" value="Submit" onClick="Submit(this.form)">
                </div>
              </div>
            </div>
          </div>
      </form>
      <span>Go to <a href="{{ url_for('index') }}"><button>&nbsp;Main Menu&nbsp;</button></a></span>
  </div>
</body>
{% if error=="notsafe" %}
  <script>
    alert("Something Went Wrong!! Please try again....");
    window.location = ('{{ url_for('add_manexpn') }}')
  </script>
{% endif %}
</html>
