<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <title> Automation Scripts </title>
<!--    <meta http-equiv="refresh" content="10">-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  <div>
    <div class="container">
<!--        <form action="/" method="post" enctype="multipart/form-data">-->
        <div class="forms">
            <div class="form-content">
              <div class="login-form">
                <div class="title">Select Task</div><br>
              </div><br><br>
            </div>
              <div class="text">
                <a href="{{ url_for('add_manexpn') }}"><button class="button-19" role="button" style="width:250px;">Add Manex PN to BOM</button></a>&nbsp;&nbsp;
                <a href="{{ url_for('edit_PN_in_pcb') }}"><button class="button-19" role="button" style="width:250px;">PCB File Editor</button></a>&nbsp;&nbsp;
                <a href="{{ url_for('csv_to_mmd') }}"><button class="button-19" role="button" style="width:250px;">Convert CSV to MMD</button></a>&nbsp;&nbsp;
              </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="text">
                <a href="{{ url_for('add_manexpn_to_mmd') }}"><button class="button-19" role="button" style="width:250px;">Add Manex PN to MMD</button></a>&nbsp;&nbsp;
                <a href="{{ url_for('gencad_editor') }}"><button class="button-19" role="button" style="width:250px;">Gencad File Editor</button></a>&nbsp;&nbsp;
                <a href="{{ url_for('ascii_editor') }}"><button class="button-19" role="button" style="width:250px;">ASCII File Editor</button></a>&nbsp;&nbsp;
              </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        </div>
    </div>
  </body>
</html>
