<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<body>
  <script type="text/javascript">
      $("#delimiter").change(function() {
          if ($(this).val() == "other") {
            $('#deldiv').show();
            $('#del').attr('required', '');
            $('#del').attr('data-error', 'This field is required.');
          } else {
            $('#deldiv').hide();
            $('#del').removeAttr('required');
            $('#del').removeAttr('data-error');
          }
      });
      $("#delimiter").trigger("change");
  </script>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{{ url_for('static', filename='/frontImg.jpg') }}" alt="">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started!</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="{{ url_for('static', filename='/frontImg.jpg') }}" alt="">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started!</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Excel Files</div>
          <form action="/bom_info" method="post" enctype="multipart/form-data">
            <div class="input-boxes">
              <i class="fa fa-file-excel"></i>&nbsp;&nbsp;&nbsp; Select Customer BOM:&nbsp;&nbsp;<br>
              <p style="color:blue; font-size:15px;">{{d.get("customer_bom")}}</p>
              <br><br>
              <i class="fa fa-file-excel"></i>&nbsp;&nbsp;&nbsp; Select Manex BOM:&nbsp;&nbsp;<br>
              <p style="color:blue; font-size:15px;">{{d.get("manex_bom")}}</p>
              <br><br>
              <div class="button input-box">
                <a href="{{ url_for('index') }}">
                    <input type="button" value="Reset" style="padding: 15px 32px; text-align: center;">
                </a>
              </div>
              <div class="text">Need Help?? <a href="{{ url_for('user_manual') }}">User Manual</a></div>
              <div class="text sign-up-text">After Selecting Files <label for="flip">Click here!</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">BOM Detail</div>
        <form action="/output" method="post">
            <div class="input-boxes">
              <input type="number" id="loc" name="loc" value="{{d.get('loc')}}" hidden>
              <input type="text" id="cur" name="cur" value="{{d.get('cur')}}" hidden>
              <div class="input-box">
                <i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp; Designator Column:&nbsp;&nbsp;
                <select id="designator" name="designator">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                    <option value="H">H</option>
                    <option value="I">I</option>
                    <option value="J">J</option>
                    <option value="K">K</option>
                    <option value="L">L</option>
                    <option value="M">M</option>
                    <option value="N">N</option>
                    <option value="O">O</option>
                    <option value="P">P</option>
                    <option value="Q">Q</option>
                    <option value="R">R</option>
                    <option value="S">S</option>
                    <option value="T">T</option>
                    <option value="U">U</option>
                    <option value="V">V</option>
                    <option value="W">W</option>
                    <option value="X">X</option>
                    <option value="Y">Y</option>
                    <option value="Z">Z</option>
                </select>
              </div>
              <div class="input-box">
                <i class="fa fa-book"></i> &nbsp;&nbsp;&nbsp; Quantity Column:&nbsp;&nbsp;
                <select id="quantity" name="quantity">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                    <option value="H">H</option>
                    <option value="I">I</option>
                    <option value="J">J</option>
                    <option value="K">K</option>
                    <option value="L">L</option>
                    <option value="M">M</option>
                    <option value="N">N</option>
                    <option value="O">O</option>
                    <option value="P">P</option>
                    <option value="Q">Q</option>
                    <option value="R">R</option>
                    <option value="S">S</option>
                    <option value="T">T</option>
                    <option value="U">U</option>
                    <option value="V">V</option>
                    <option value="W">W</option>
                    <option value="X">X</option>
                    <option value="Y">Y</option>
                    <option value="Z">Z</option>
                </select>
              </div>
              <div class="input-box">
                <i class="fa fa-hourglass-start"></i>&nbsp;&nbsp;&nbsp; Start Row: &nbsp;&nbsp;
                <input type="number" id="start_row" name="start_row" style="width:8em;" required>
              </div>
              <div class="input-box">
                <i class="fa fa-hourglass-end"></i> &nbsp;&nbsp;&nbsp; End Row: &nbsp;&nbsp;
                <input type="number" id="end_row" name="end_row" style="width:8em;" required>
              </div>
              <div class="input-box">
                <i class="fa fa-tasks"></i> &nbsp;&nbsp;&nbsp;&nbsp; Delimiter: &nbsp;&nbsp;
                <select class="form-control" id="delimiter" name="delimiter">
                    <option value="comma">,(comma)</option>
                    <option value="space">&nbsp;&nbsp;(space)</option>
                    <option value="hyphen">-(hyphen)</option>
                    <option value="other">Other</option>
                </select>
              </div>

              <div class="input-box" id="deldiv">
                  If other specify:
                  <input type="text" id="del" name="del">
              </div>
              <div class="input-box">
                <i class="fa fa-server"></i> &nbsp;&nbsp;&nbsp;&nbsp; Separator: &nbsp;&nbsp;
                <select id="separator" name="separator">
                    <option value="none">None</option>
                    <option value="hyphen">-(hyphen)</option>
                    <option value="colon">:(colon)</option>
                    <option value="space"> (space)</option>
                    <option value="other">Other</option>
                </select>
              </div>
              <div class="input-box" id="sepdiv" data-show-if="separator:other">
                  If other specify:
                  <input type="text" id="sep" name="sep">
              </div>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <div class="text sign-up-text">Did not select files? <label for="flip">Select Files</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
</body>
</html>
