<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
      <form action="/sep_detail" method="post" enctype="multipart/form-data">
          <div class="forms">
                <div class="form-content">
                  <div class="login-form">
                    <div class="title">Provide Details</div><br>
                    <div class="input-boxes">
                        <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>&nbsp;&nbsp;<span style="font-size:20px;">{{item}}</span><br><br>
                    </div>
                    <div class="input-boxes">
                      <i class="fa fa-inbox"></i>&nbsp;&nbsp;Base:&nbsp;&nbsp;
                      <input type="text" id="base" name="base" required>
                      <br><br>
                      <i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;From:&nbsp;&nbsp;
                      <input type="text" id="rfrom" name="rfrom" required>
                      <br><br>
                      <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;To:&nbsp;&nbsp;
                      <input type="text" id="rto" name="rto" required>
                      <br><br>
                      <div class="button input-box">
                    <input type="submit" value="Submit">
                </div>
                    </div>
                  </div>
                </div>

          </div>
      </form>
  </div>
</body>
</html>
