<!DOCTYPE html>
<html>

<head>
    <title>Excel Automation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
  <section id="sh_module_version">
        <div class="container">
            <div class="sh_center text-center" style='margin: 2rem 0;'>
                <div class="row" style='align-items: center;'>
                    <div class="col-lg-4 col-md-4 col-sm-12" style='text-align: left;'>
                        <img src="{{ url_for('static', filename='/logo.png')}}" alt='logo'>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12" style='text-align: right;'>
                        <span class='btn btn-primary'
                            style="position: relative; overflow: hidden; border: 1px solid transparent; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; background-color: #ec2028;border-color: #ec2028;"><i
                                class='fa fa-check' style="margin-right: 9px;"></i>Automated</span>
                        <span class='btn btn-primary'
                            style="position: relative; overflow: hidden; border: 1px solid transparent; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; background-color: #ec2028;border-color: #ec2028;"><i
                                class='fa fa-check' style="margin-right: 9px;"></i>Effortless</span>
                        <span class='btn btn-primary'
                            style="position: relative; overflow: hidden; border: 1px solid transparent; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; background-color: #ec2028;border-color: #ec2028;"><i
                                class='fa fa-check' style="margin-right: 9px;"></i>Spontaneous</span>
                    </div>
                </div>
                <div class="oe_span12">
                  <h2 class="oe_slogan text-center" ><b>Excel Automation</b> </h2>
                  <hr style="border: 1px solid;position:relative;width:150px;top:0px;padding:0px;margin-bottom: 2em;">
                  <h3 class="text-muted text-center">Easy mapping of Manex PN to Customer BOM!!!</h3>
                  <div class="oe_centeralign oe_websiteonly">
                    <a href="{{ url_for('index') }}" style="background-color:#ec2028; border: 1px #ec2028" class="btn btn-primary py-2 px-4 mb-3">Start your trial
                    <i class="fa fa-cogs"></i></a>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sh_highlighted_section_main container col-md-12">
        <div class="container bg-white shadow px-3 py-0 overflow-hidden mb-5" style="border-radius: 2px;">
            <div class="row">
                <div class="col-lg-12 align-items-center d-inline-flex align-items-center mb-4 position-relative ">
                    <div class="pt-4" style="padding-left:20px;">
                        <h3 style="color:#ec2028;font-weight: bold;font-size: 22px;" class="mb-3">Why Excel Automation?</h3>
                        <p style="font-weight:normal; font-size:14px; letter-spacing: 1px;">
                            <b>Let me first give you an overview of this module.</b><br>
                            This module will help you populate Manex P/N from Manex BOM to Customer BOM by mapping the Ref. Designators.
                            It is very tedious work to find Part Numbers of a specific designator from all the Part Numbers of
                            various Ref. Designators from the Manex BOM. Not only that, once you find them,
                            you also have to look for duplicates if any.<br><br>
                            In order to lessen your work, we have brought this feature that will fetch the Manex BOM as well as Customer BOM of a
                            specific customer and populate the Manex P/N with indicating discrepancies if any.
                            <span style="color:#ec2028;"><b>This will save you a lot of time, which you can utilize for other significant tasks instead.</b></span>
                            It also highlights records of Manex BOM that has no match or the records
                            that Customer BOM finds as duplicates, so that you can easily compare and save time analyzing the whole BOM.<br><br>
                            There is one more perk of using this app. You can directly use the BOM sent by the customer without the need of renaming
                            because this feature will do that for you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sh_tab_section container mt64 mb32" style="padding: 40px 0px;">
        <div class="row" style="max-width:1540px; margin:0 auto; border-radius:15px">
            <ul class="nav nav-tabs justify-content-center" role="tablist"
                style="padding-bottom:10px; border-bottom:0px solid #aaa; background-color:transparent;margin: 0px auto;">
                <li class="nav-item"
                    style="background-color:#fce3e4; color:#fff; border-radius: 2px; font-weight:600; font-size:14px; margin:0 5px">
                    <a href="#features" data-toggle="tab" aria-expanded="true" class="nav-link show active"
                        style="color:#ec2028; border:2px solid #ec2028;border-radius: 2px;letter-spacing: 1px;"><img
                            src="{{ url_for('static', filename='/features.png') }}" alt="feature_icon" style="height: 16px;margin-right: 7px;" />
                        Features</a>
                </li>
                <li class="nav-item"
                    style="background-color:#fce3e4; color:#fff; border-radius: 2px; font-weight:600; font-size:14px; margin:0 5px">
                    <a href="#setup" data-toggle="tab" aria-expanded="true" class="nav-link"
                        style="color:#ec2028; border:2px solid #ec2028;border-radius: 2px;letter-spacing: 1px;"><img
                            src="{{ url_for('static', filename='/configuration.png') }}" alt="configuration_icon" style="height: 16px;margin-right: 7px;" />
                        Set up</a>
                </li>
                <li class="nav-item"
                    style="background-color:#fce3e4; color:#fff; border-radius: 2px; font-weight:600; font-size:14px; margin:0 5px">
                    <a href="#workflow" data-toggle="tab" aria-expanded="true" class="nav-link"
                        style="color:#ec2028; border:2px solid #ec2028;border-radius: 2px;letter-spacing: 1px;"><img
                            src="{{ url_for('static', filename='/workflow.png') }}" alt="workflow_icon" style="height: 16px;margin-right: 7px;" />
                        Work Flow</a>
                </li>
            </ul>

            <div class="container-fluid px-0">
                <div class="tab-content pt-3" id="tabs_content">
                    <!--Features-->
                    <div class="tab-pane fade active show" id="features" role="tabpanel"
                        aria-labelledby="key_feature_tab">
                        <div class="sh_center text-center mb-5">
                          <h4 style="font-size:30px; font-weight:600; color:#ec2028; margin-bottom:10px">Hot Features</h4>
                            <hr style="width: 100px;border-width: 2px;border-color: #ec2028;" />
                        </div>
                        <div class="row" style="margin:0px auto 0;font-weight:normal; font-size:16px">
                          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
                            <div class="sh_icon d-flex justify-content-center align-items-center rounded shadow" style="padding:15px; border:1px solid #ec2028; border-bottom:4px solid #ec2028; background-color:#fce3e4; border-radius:0.25rem !important; min-height:83px">
                              <span style="color:#212121; font-weight:600; vertical-align:middle; padding-left:10px; text-align:center">
                                Generates Manex P/N for Customer BOM
                              </span>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
                            <div class="sh_icon d-flex justify-content-center align-items-center rounded shadow" style="padding:15px; border:1px solid #ec2028; border-bottom:4px solid #ec2028; background-color:#fce3e4; border-radius:0.25rem !important; min-height:83px">
                              <span style="color:#212121; font-weight:600; vertical-align:middle; padding-left:10px; text-align:center">
                                Maps Designators to Manex Ref. Des.
                              </span>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
                            <div class="sh_icon d-flex justify-content-center align-items-center rounded shadow" style="padding:15px; border:1px solid #ec2028; border-bottom:4px solid #ec2028; background-color:#fce3e4; border-radius:0.25rem !important; min-height:83px">
                              <span style="color:#212121; font-weight:600; vertical-align:middle; padding-left:10px; text-align:center">
                                Employs delimiters and separators
                              </span>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
                            <div class="sh_icon d-flex justify-content-center align-items-center rounded shadow" style="padding:15px; border:1px solid #ec2028; border-bottom:4px solid #ec2028; background-color:#fce3e4; border-radius:0.25rem !important; min-height:83px">
                              <span style="color:#212121; font-weight:600; vertical-align:middle; padding-left:10px; text-align:center">
                                Missing Part Numbers highlighted to Yellow
                              </span>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
                            <div class="sh_icon d-flex justify-content-center align-items-center rounded shadow" style="padding:15px; border:1px solid #ec2028; border-bottom:4px solid #ec2028; background-color:#fce3e4; border-radius:0.25rem !important; min-height:83px">
                              <span style="color:#212121; font-weight:600; vertical-align:middle; padding-left:10px; text-align:center">
                                Customer BOM renamed with Work Order Number
                              </span>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
                            <div class="sh_icon d-flex justify-content-center align-items-center rounded shadow" style="padding:15px; border:1px solid #ec2028; border-bottom:4px solid #ec2028; background-color:#fce3e4; border-radius:0.25rem !important; min-height:83px">
                              <span style="color:#212121; font-weight:600; vertical-align:middle; padding-left:10px; text-align:center">
                                Unmatched and Duplicate Manex P/N highlighted appropriately
                              </span>
                            </div>
                          </div>
                        </div><br><br>
                        <div class="sh_center text-center mb-5">
                            <h4 style="font-size:30px; font-weight:600; color:#ec2028; margin-bottom:10px">Detailed Features</h4>
                            <hr style="width: 100px;border-width: 2px;border-color: #ec2028;" />
                        </div>
                        <div class="tab-pane center">
                            <ul style="padding:0">
                                <li class="shadow rounded" style="padding:20px; margin-bottom:20px; font-size:16px; color:#212121; font-weight:600; letter-spacing:1px; display:block; border-radius:0.25rem !important"><span class="fa fa-arrow-right" style="color:#ec2028; font-weight:600; font-size:18px; padding-right:10px"></span>
                                    Generates Manex P/N for Customer BOM with the help of Manex BOM.
                                </li>
                                <li class="shadow rounded" style="padding:20px; margin-bottom:20px; font-size:16px; color:#212121; font-weight:600; letter-spacing:1px; display:block; border-radius:0.25rem !important"><span class="fa fa-arrow-right" style="color:#ec2028; font-weight:600; font-size:18px; padding-right:10px"></span>
                                    It appends the work order number in the customer BOM file name.
                                </li>
                                <li class="shadow rounded" style="padding:20px; margin-bottom:20px; font-size:16px; color:#212121; font-weight:600; letter-spacing:1px; display:block; border-radius:0.25rem !important"><span class="fa fa-arrow-right" style="color:#ec2028; font-weight:600; font-size:18px; padding-right:10px"></span>
                                    It reads both excel files and maps the ref. des. from both the BOMs.
                                </li>
                                <li class="shadow rounded" style="padding:20px; margin-bottom:20px; font-size:16px; color:#212121; font-weight:600; letter-spacing:1px; display:block; border-radius:0.25rem !important"><span class="fa fa-arrow-right" style="color:#ec2028; font-weight:600; font-size:18px; padding-right:10px"></span>
                                    It uses delimiters to separate all the designators of a record for comparison.
                                </li>
                                <li class="shadow rounded" style="padding:20px; margin-bottom:20px; font-size:16px; color:#212121; font-weight:600; letter-spacing:1px; display:block; border-radius:0.25rem !important"><span class="fa fa-arrow-right" style="color:#ec2028; font-weight:600; font-size:18px; padding-right:10px"></span>
                                    It also uses separators if any to predict the undefined values of designators.
                                </li>
                                <li class="shadow rounded" style="padding:20px; margin-bottom:20px; font-size:16px; color:#212121; font-weight:600; letter-spacing:1px; display:block; border-radius:0.25rem !important"><span class="fa fa-arrow-right" style="color:#ec2028; font-weight:600; font-size:18px; padding-right:10px"></span>
                                    You are only needed to provide the Manex BOM and Customer BOM excel files.
                                </li>
                                <li class="shadow rounded" style="padding:20px; margin-bottom:20px; font-size:16px; color:#212121; font-weight:600; letter-spacing:1px; display:block; border-radius:0.25rem !important"><span class="fa fa-arrow-right" style="color:#ec2028; font-weight:600; font-size:18px; padding-right:10px"></span>
                                    In addition, just few details of the Customer BOM excel file is to be filled.
                                </li>
                                <li class="shadow rounded" style="padding:20px; margin-bottom:20px; font-size:16px; color:#212121; font-weight:600; letter-spacing:1px; display:block; border-radius:0.25rem !important"><span class="fa fa-arrow-right" style="color:#ec2028; font-weight:600; font-size:18px; padding-right:10px"></span>
                                    It has the mechanism to predict Manex BOM details so you need not provide those.
                                </li>
                                <li class="shadow rounded" style="padding:20px; margin-bottom:20px; font-size:16px; color:#212121; font-weight:600; letter-spacing:1px; display:block; border-radius:0.25rem !important"><span class="fa fa-arrow-right" style="color:#ec2028; font-weight:600; font-size:18px; padding-right:10px"></span>
                                    Once the program is executed you can find the Manex P/N populated in the Customer BOM
                                    with few significant highlights in both excel files.
                                </li>
                                <li class="shadow rounded" style="padding:20px; margin-bottom:20px; font-size:16px; color:#212121; font-weight:600; letter-spacing:1px; display:block; border-radius:0.25rem !important"><span class="fa fa-arrow-right" style="color:#ec2028; font-weight:600; font-size:18px; padding-right:10px"></span>
                                    Yellow highlight for Manex P/N not found, blue for more than one match in Manex BOM and
                                    red for unutilized Manex P/N.
                                </li>
                            </ul>
                        </div>
                    </div>


                    <!--Set Up-->
                    <div class="tab-pane fade" id="setup" role="tabpanel" aria-labelledby="faqs_tab">
                      <div class="mb48"></div>
                      <section class="oe_container">
                          <div class="panel" style="padding-left:75px; padding-right:75px;">
                              <div class="sh_icon d-flex justify-content-center align-items-center rounded shadow" style="padding:15px; border:1px solid #ec2028; border-bottom:4px solid #ec2028; border-radius:0.25rem !important; min-height:83px">
                                  <span style="color:#212121; font-weight:600; vertical-align:middle; padding-left:10px; text-align:center">
                                      <i>To begin with, have the BOMs downloaded in your system.
                                          For its proper setup, go through the below steps.</i>
                                  </span>
                              </div>
                          </div>
                      </section><br>
                      <section class="oe_container">
                        <div class="panel shadow" style="border:2px #ec2028 solid">
                          <div class="panel-heading" style="font-size:18px; line-height:30px; background-color:#ec2028; color:white; font-family:'Open Sans', sans-serif; font-weight:600; text-align:center;">
                            Excel Compatibility
                          </div>
                          <div class="d-flex justify-content-center" style="padding:10px">
                            <img style="width:70%;overflow:hidden;" class="img-thumbnail" src="{{ url_for('static', filename='/excel_compatibility.jpg') }}" alt="Excel Compatibility" />
                          </div>
                          <div style="padding-bottom: 10px; padding-left: 190px; padding-right: 190px;">
                              Firstly, you need to make sure that you have both Customer BOM and Manex BOM downloaded in your system.
                              The Manex BOM will be of format .xlsx but the Customer BOM may vary - it can be .xlsx or .xls.
                              You can easily identify format differences with the icon. But you don't have to worry, we have handled both versions
                              correctly in our module. <b>Not to forget to make sure that customer bom is available on the first sheet of the
                              excel workbook else just move it to the first place.</b>
                              <span style="color:#ec2028;"><b>Now, you are completely ready to utilize this feature!!</b></span><br><br>
                          </div>
                        </div>
                      </section><br>
                    </div>

                    <!--Work Flow-->
                    <div class="tab-pane fade" id="workflow" role="tabpanel" aria-labelledby="faqs_tab">
                      <div class="mb48"></div>
                      <section class="oe_container">
                        <div class="panel shadow" style="border:2px #ec2028 solid">
                          <div class="panel-heading" style="font-size:18px; line-height:30px; background-color:#ec2028; color:white; font-family:'Open Sans', sans-serif; font-weight:600; text-align:center;">
                            Choose Manex and Customer BOMs
                          </div>
                          <div class="d-flex justify-content-center" style="padding:10px">
                            <img style="width:70%;overflow:hidden;" class="img-thumbnail" src="{{ url_for('static', filename='/select_bom.jpg') }}" alt="Select BOMs" />
                          </div>
                          <div style="padding-bottom: 10px; padding-left: 190px; padding-right: 190px;">
                              To begin with, you have to select Manex and Customer BOMs appropriately.<br>
                              <b>Customer BOM >> Choose File >> Locate and select file</b><br>
                              <b>Manex BOM >> Choose File >> Locate and select file</b><br><br>
                              Work Order Number is an optional field. If you want your Customer BOM to be renamed with
                              <span style="color:#ec2028;"><b>work order number as the prefix</b></span>, you have to
                              jot down the work order number. Otherwise, just ignore.
                          </div>
                        </div>
                      </section><br>
                      <section class="oe_container">
                        <div class="panel shadow" style="border:2px #ec2028 solid">
                          <div class="panel-heading" style="font-size:18px; line-height:30px; background-color:#ec2028; color:white; font-family:'Open Sans', sans-serif; font-weight:600; text-align:center;">
                            Customer BOM Details
                          </div>
                          <div class="d-flex justify-content-center" style="padding:10px">
                            <img style="width:70%;overflow:hidden;" class="img-thumbnail" src="{{ url_for('static', filename='/bom_info.jpg') }}" alt="BOM Info"/>
                          </div>
                          <div style="padding-bottom: 10px; padding-left: 190px; padding-right: 190px;">
                              To read the customer BOM accurately we need few details about its columns and rows.
                              <b>Designator Column >> Quantity Column >> Start Row >> End Row >> Delimiter >> Separator</b><br><br>
                              You might think then what about <b>Manex?</b> Not to worry about that, the script handles it all.
                              <span style="color:#ec2028;"><b> isn't that amazing?</b></span> Once all the details are filled, click on <b>Submit</b>.
                          </div>
                        </div>
                      </section><br>
                      <section class="oe_container">
                        <div class="panel shadow" style="border:2px #ec2028 solid">
                          <div class="panel-heading" style="font-size:18px; line-height:30px; background-color:#ec2028; color:white; font-family:'Open Sans', sans-serif; font-weight:600; text-align:center;">
                            Check For Separators
                          </div>
                          <div class="d-flex justify-content-center" style="padding:10px">
                            <img style="width:70%;overflow:hidden;" class="img-thumbnail" src="{{ url_for('static', filename='/sep_check.jpg') }}" alt="Check Separators" />
                          </div>
                          <div style="padding-bottom: 10px; padding-left: 190px; padding-right: 190px;">
                              <span style="color:#ec2028;"><b>Well, if you are stuck, here is a small guide on separators.</b></span><br>
                              If had filled in the separator in the Customer BOM Detail, it will show you instances where ever there exist
                              a separator and you will have to confirm it. If not a separator then just click <b>No</b>. But if you click
                              <b>Yes</b>, it will ask you few more details.
                          </div>
                        </div>
                      </section><br>
                      <section class="oe_container">
                        <div class="panel shadow" style="border:2px #ec2028 solid">
                          <div class="panel-heading" style="font-size:18px; line-height:30px; background-color:#ec2028; color:white; font-family:'Open Sans', sans-serif; font-weight:600; text-align:center;">
                            Separator Info
                          </div>
                          <div class="d-flex justify-content-center" style="padding:10px">
                            <img style="width:70%;overflow:hidden;" class="img-thumbnail" src="{{ url_for('static', filename='/sep_info.jpg') }}" alt="Separator Info" />
                          </div>
                          <div style="padding-bottom: 10px; padding-left: 190px; padding-right: 190px;">
                              <span style="color:#ec2028;"><b>It's not over yet!</b></span><br>
                              If you identify an instance as a separator, you also need to describe the base and the range.
                              <br><b>Base >> From >> To</b>
                          </div>
                        </div>
                      </section><br>
                      <section class="oe_container">
                        <div class="panel shadow" style="border:2px #ec2028 solid">
                          <div class="panel-heading" style="font-size:18px; line-height:30px; background-color:#ec2028; color:white; font-family:'Open Sans', sans-serif; font-weight:600; text-align:center;">
                            Modified BOMs
                          </div>
                          <div class="d-flex justify-content-center" style="padding:10px">
                            <img style="width:70%;overflow:hidden;" class="img-thumbnail" src="{{ url_for('static', filename='/output.jpg') }}" alt="Modified BOMs" />
                          </div>
                          <div style="padding-bottom: 10px; padding-left: 190px; padding-right: 190px;">
                              You will find the modified Customer and Manex BOMs ready for download.
                              <b>To download, click on the link.....</b><br>
                              Moreover, the customer BOM is renamed with the work order number.
                              <span style="color:#ec2028;"><b>And you have your tedious task is done just like that!!</b></span><br>
                          </div>
                        </div>
                      </section><br>
                      <section class="sh_highlighted_section_main container col-md-12">
                        <div class="container bg-white shadow px-3 py-0 overflow-hidden mb-5" style="border-radius: 2px; border:1px solid #ec2028; border-bottom:4px solid #ec2028">
                            <div class="row">
                                <div class="col-lg-12 d-flex justify-content-center" style=" background-color:#fce3e4;">
                                    <div class="pt-4" style="padding-left:20px;">
                                        <h5 style="font-size: 20px;" class="mb-3 text-center">
                                            <i>I hope you have enjoyed our module tour and look forward to use it super soon!!</i>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="oe_container">
        <div class="oe_row">
            <div class="d-flex justify-content-center">
                <h2 class="oe_slogan">Experience an effortless journey!!</h2><br><br>
            </div>
        </div>
    </section>
</body>
</html>

